<section class="phx-hero">
  <form phx-change="validate_name" action="/login" method="POST">
    <input type="text" name="name" value="<%= @name %>" placeholder="Type your name"/>
    <%= if not @valid? do%>
      <p><%= @message_error%></p>
    <% end %>
    <input type="hidden" value="<%= Phoenix.Controller.get_csrf_token() %>" name="_csrf_token"/>
    <button type="submit" phx-disable-with="Searching...">Loguearse</button>
  </form>
</section>