<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "IslandsInterface", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="header">
      <nav role="navigation">
        <ul>
          <li>
          <%= if @current_user do %>
            <%= link "Logout", to: Routes.session_path(@conn, :logout), method: :delete, data: [confirm: "Are you sure?"] %>
          <% else %>
            <a href="<%= Routes.session_path(@conn, :show_login) %>">Login</a>
          <% end %>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <%= @inner_content %>
    </main>

    <h1>main room</h1>

    <main class="main">
      <section class="game-container">
        <div class="nickname-title">
          <h1>Player123</h1>
        </div>
        <div class="players-board">
          <img src="/images/green-boat.png" alt=""/>
          <div class="players-board-wood">
            <div class="player-available">
              <span>Player1</span>
              <button class="gold-button">Blattle!</button>
            </div>
            <div class="player-available">
              <span>Player2</span>
              <button class="gold-button">Blattle!</button>
            </div>
            <div class="player-available">
              <span>Player3</span>
              <button class="gold-button">Blattle!</button>
            </div>
          </div>
          <img src="/images/red-boat.png" alt=""/>
        </div>
      </section>
    </main>

    <h1>players</h1>

    <main class="main">
      <section class="game-container">
        <div class="edition">
          <div class="players-boat">
            <img src="/images/green-boat.png" alt=""/>
            <button class="gold-button player-status">I'm ready"</button>
          </div>
          <div class="edition-arena">
            <div class="players-board grid-board">
              <div class="row-board">
                <button id="player-1-1" class="piece-board"></button>
                <button id="player-1-2" class="piece-board"></button>
                <button id="player-1-3" class="piece-board"></button>
                <button id="player-1-4" class="piece-board"></button>
                <button id="player-1-5" class="piece-board"></button>
                <button id="player-1-6" class="piece-board"></button>
                <button id="player-1-7" class="piece-board"></button>
                <button id="player-1-8" class="piece-board"></button>
                <button id="player-1-9" class="piece-board"></button>
                <button id="player-1-10" class="piece-board"></button>
              </div>
            </div>
            <div class="choose-islands-board">
              <div class="choose-island-message">Choose and island and put it in the board</div>
              <div class="islands-to-choose">
                <button class="island-1 island-to-choose"></button>
                <button class="island-2 island-to-choose"></button>
                <button class="island-3 island-to-choose"></button>
                <button class="island-4 island-to-choose"></button>
              </div>
            </div>
          </div>
          <div class="opponents-boat">
            <img src="/images/red-boat.png" alt=""/>
            <span class="player-status">Choosing...</button>
          </div>
        </div>
      </section>
    </main>

    <h1>game</h1>

    <main class="main">
      <section class="game-container">
        <div class="game">
          <div class="players-boat">
            <img src="/images/green-boat.png" alt=""/>
            <span class="players-score">Lifes: 16</span>
          </div>
          <div class="game-arena">
            <div class="players-board grid-board">
              <div class="row-board">
                <button id="player-1-1" class="piece-board ground"></button>
                <button id="player-1-2" class="piece-board explosion"></button>
                <button id="player-1-3" class="piece-board hole"></button>
                <button id="player-1-4" class="piece-board"></button>
                <button id="player-1-5" class="piece-board"></button>
                <button id="player-1-6" class="piece-board"></button>
                <button id="player-1-7" class="piece-board"></button>
                <button id="player-1-8" class="piece-board"></button>
                <button id="player-1-9" class="piece-board"></button>
                <button id="player-1-10" class="piece-board"></button>
              </div>
            </div>
            <div class="opponents-board grid-board">
                <div class="row-board">
                  <button id="opponent-1-1" class="piece-board"></button>
                  <button id="opponent-1-2" class="piece-board explosion"></button>
                  <button id="opponent-1-3" class="piece-board hole"></button>
                  <button id="opponent-1-4" class="piece-board"></button>
                  <button id="opponent-1-5" class="piece-board"></button>
                  <button id="opponent-1-6" class="piece-board"></button>
                  <button id="opponent-1-7" class="piece-board"></button>
                  <button id="opponent-1-8" class="piece-board"></button>
                  <button id="opponent-1-9" class="piece-board"></button>
                  <button id="opponent-1-10" class="piece-board"></button>
                </div>
            </div>
          </div>
          <div class="opponents-boat">
            <img src="/images/red-boat.png" alt=""/>
            <span class="opponents-score">Lifes: 16</span>
          </div>
        </div>
        <div class="game-turn">
          <h1>Your turn!</h1>
        </div>
      </section>
    </main>

  </body>
</html>
